@page "/analyzer"

<MudContainer id="bodyDiv" MaxWidth="MaxWidth.Large">


    <div class="row marbot20" align="center">
        <input type="file" id="input" multiple/>
    </div>
    <div>
        <div class="panel-heading" align="right">
            <div>
                <span>Viewer</span>
                <span id="layerNumber"></span>
            </div>
        </div>
        <div style="display: flex; height: 100%;">
            <div style="width: 100px;">
                <table id="speedLable">
                </table>
            </div>
            <div id="renderCanvasContainer" style="width: 100%;">
                <canvas id="renderCanvas"></canvas>
            </div>
            <div style="width: 150px;" id="canvasVerticalSliderContainer">
                <div>
                    <span id="scroll">Scroll Mouse Wheel Here</span>
                </div>
                <div id="canvasVerticalSlider" style="rotate: 270deg;">
                    <input type="range" orient="vertical" id="myRange">
                </div>
            </div>
        </div>
    </div>
    <div class="row" align="center">
        <div class="panel-heading">
            <span>G-Code Statistics</span>
        </div>
        <table class="table table-bordered table-condensed table-centered-cells table-striped">
            <tbody id="gcodeStats">
            </tbody>
        </table>
    </div>
</MudContainer>