@page "/analyzer"

<MudContainer id="bodyDiv" MaxWidth="MaxWidth.Large">
    <div class="row marbot20" align="center" style="margin-top: 20px;">
        <input type="file" id="input" multiple/>
    </div>
    <div>
        <div class="panel-heading" align="right">
            <div>
                <span id="layerNumber"></span>
            </div>
        </div>
        <div style="display: flex; height: 100%;">
            <div style="width: 100px;">
                <table id="speedLable">
                </table>
            </div>
            <div id="renderCanvasContainer" style="width: 100%;">
                <canvas id="renderCanvas"></canvas>
            </div>
            <div style="width: 150px;" id="canvasVerticalSliderContainer">
                <div id="canvasVerticalSlider" style="height: 300px; display: grid;">
                    <input style="rotate: 270deg; width: 300px;" type="range" id="myRange">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 100px;" align="center">
        <table class="statstable" style="max-width: 1000px; width: 100%;">
            <tbody class="statstable" id="gcodeStats">
            </tbody>
        </table>
    </div>
</MudContainer>