@using System.Diagnostics
@using ThreeDeeFrontend.Services

<div id="stl_cont" style="height: 50vh; border-style: solid; border-width: 1px; border-radius: 4px; border-color: #f0f8ff36;"></div>

@code {
    
    [Parameter]
    public string ColorValue { get; set; }

    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public int Id { get; set; }
    
    [Parameter]
    public EventCallback<double> ProgressHasChanged { get; set; }
    
    [Inject]
    public IJsInteropService<ModelRenderer> JsInteropService { get; set; }

    public async Task ChangeColor(string newColor)
    {
        await JsInteropService.ChangeColor(newColor[..7], Id);
    }

    DotNetObjectReference<ModelRenderer> objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JsInteropService.AddFile($"../assets/{Name}.stl", ColorValue, Id, objRef);
        }
    }

    [JSInvokable]
    public async Task ProgressChangedJsCallback(double progress)
    {
        await ProgressHasChanged.InvokeAsync(progress);
    }
}